.button-green {
  background-color: #84A98C;
  background-size: auto;
  text-align: center;
  border-radius: 4px;
  color: white;
  margin-bottom: 12px;
  &:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
    background-color: #52796F;
  }
}

.button-dark-green{
  background-color: white;
  border-radius: 4px;
  color: $danger;
  margin-bottom: 12px;
  border: 2px solid $danger;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: $danger;
  }
}

.button-green-show {
  background-color: #84A98C;
  background-size: auto;
  width: 150px;
  text-align: center;
  border-radius: 4px;
  color: white;
  margin: 12px 24px;
  border: none;
  &:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
    background-color: #52796F;
  }
}

.button-orange {
  background-color: #D99912;
  background-size: auto;
  text-align: center;
  border-radius: 4px;
  border: 0px solid #D99912;
  color: white;
  margin: 24px 0;
  padding: 2px 16px;
  &:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
    background-color: #52796F;
  }
}

.button-lightgrey {
  background-color: #D6D6D6;
  background-size: auto;
  text-align: center;
  border: 0px solid #D6D6D6;
  color: white;
  margin: 24px 0;
  padding: 2px 16px;
  &:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
    background-color: #84A98C;
  }
}

.button-orange-roadtrips {
  background-color: #E4B85A;
  background-size: auto;
  text-align: center;
  border: 0px solid #D6D6D6;
  color: white;
  opacity: 0.6;
  margin: 24px 0;
  padding: 2px 16px;
  &:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
    opacity: 1;
  }
}

.button-green-all {
  background-color: #84A98C;
  background-size: auto;
  text-align: center;
  border-radius: 4px;
  border: 0;
  color: white;
  margin: 24px 0;
  padding: 2px 16px;
  &:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
    background-color: #52796F;
  }
}

.button-green-show-map {
  background-color: #84A98C;
  background-size: auto;
  text-align: center;
  border-radius: 4px;
  border: 0;
  color: white;
  padding: 2px 16px;
  margin-top: 5px;
  &:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
    background-color: #52796F;
  }
}

.start-border {
  border-radius: 4px 0 0 4px;
}

.end-border {
  border-radius: 0 4px 4px 0;
}

.button-danger{
  background-color: #c82333;
  text-align: center;
  border-radius: 4px;
  color: white;
  margin-bottom: 12px;

  &:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
    background-color: #ac3844;
  }
}
