.containeur {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 40px;
  align-items: center;
}
.containeur input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #eee;
}
.containeur:hover input ~ .checkmark {
  background-color: #ccc;
}
.containeur input:checked ~ .checkmark {
  background-color: #84A98C;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.containeur input:checked ~ .checkmark:after {
  display: block;
}
.containeur .checkmark:after {
  left: 15px;
  top: 5px;
  width: 10px;
  height: 25px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
