.imageForm{
  background: url("https://i.imgur.com/JYFfBQF.jpeg") center no-repeat;
  background-size: cover;
  width: 50vw;
  height: 90vh;
}
span{
  color: #999;
}
.container-sign{
  margin: 0 200px;
}
.btn-signin{
  width: 140px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #84A98C;
  color: white;
  border: none;
  margin-top: 6px;
  &:hover{
    opacity: 0.8;
    color: white;
  }
}

.flat-icon{
  width: 25px;
  height: 25px;
}
