.list-menu{
  display: flex;
  list-style-type: none;
  padding-left: 0;
  li{
    margin-right: 15px;
  }
}
.profile-left{
  float: left;
  width: 200px;
  border-right: 1px solid #DBDBDB;
}
.username-style{
  color: #52796F;
  font-size: 24px;
}
